# ignore test data
/alta-2017-data
/internal

# Ignore python junk
.ipynb_checkpoints
*/__pycache__

# Ignore venv
/bin
/include
/lib
pyvenv.cfg

# Ignore vscode stuff
/.vscode

# distro junk
/*.egg-info